<!-- Contact Section -->
<section id="comment" class="container content-section text-center">
    <div class="row" style="text-align: left;">
        <div class="col-lg-12">
            <h2>Comment ?</h2>
            <p>On s'occupe de la location du gîte et du repas de mariage, ainsi que du brunch du lendemain.</p>
            <p>
                Le planning de la semaine n'est pas du tout fixé. On aura besoin de toutes vos idées! 
                <br>Balade, baignade, et jeux de société sont notamment au programme.
            </p>
            <p style="padding: 0; margin-top: 5px; margin-bottom: 0;">Pour se rendre au gite utilisez ces coordonnées GPS afin de trouver le chemin d'accès : <a href="https://www.google.com/maps/place/44.9000498915355,4.634715814273318" target=”_blank”>44.9000498915355, 4.634715814273318</a></p>
            <div class="col-lg-12" style="margin: 0 -1.5rem; padding: 0;">
                <div class="col-lg-6" style="padding: 0;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2826.1448088117195!2d4.6347157999999995!3d44.9000499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe807219a20352459!2zNDTCsDU0JzAwLjIiTiA0wrAzOCcwNS4wIkU!5e0!3m2!1sfr!2sfr!4v1668281588544!5m2!1sfr!2sfr" width="100%" height="450" style="border:0; padding:15px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p style="padding:0 15px;"><b>Coordonnées GPS</b></p>
                </div>
                <div class="col-lg-6" style="padding: 0;">
                    <iframe src="https://www.google.com/maps/embed?pb=!4v1667676848732!6m8!1m7!1smuqgmQJLlHz1BwS-fMZ-4Q!2m2!1d44.90003148542148!2d4.634838416817565!3f301.8433122150017!4f2.7253038108808596!5f0.7820865974627469" width="100%" height="450" style="border:0; padding:15px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p style="padding:0 15px;"><b>Tourner à gauche</b></p>
                </div>
            </div>
        </div>
    </div>
</section>
