<!-- About Section -->
<section id="ou" class="container content-section text-center">
    <div class="row" style="position: relative; padding-bottom: 20rem;">
        <div class="col-lg-12">
            <h2 style="text-align: left;">Où ? Quand ?</h2>
            <p style="text-align: left;">Le mariage en mairie aura lieux à la Mairie de Chalencon 07240. On a pas encore la date précise, on vous la communiquera.<br> On vous invite pour une semaine en Ardèche du 21 au 28 juillet.</p>
            <p style="margin: .5rem 0 0 0; text-align: left;">
                On a réservé un grand gîte pour l'occasion, <strong>il y aura plusieurs équipes :</strong>
               
                <br>
                L'équipe <span style="font-weight: 600; text-transform: uppercase;">des pépouzes</span> seront hébergés
                chez mes parents non loin du gîte.
                <br>
                Les jeunes parents dit <span style="font-weight: 600; text-transform: uppercase;">les survivors</span>
                pourront avoir des chambres (dans la limite des places disponibles).
                <br>
                Et pour <span style="font-weight: 600; text-transform: uppercase;">les autres</span>, ça sera camping!
            </p>
        </div>
        <div class="col-lg-12" style="margin: 1.5rem -1.5rem 0 -1.5rem;">
            <div class="col-lg-4" style="margin: .5rem 0 0 0;">
                <img src="/img/gite/PXL_20220726_093852915.MP-min.jpg" style="max-width: 100%;" class="rounded" />
            </div>
            <div class="col-lg-4" style="margin: .5rem 0 0 0;">
                <img src="/img/gite/PXL_20220726_095458162-min.jpg" style="max-width: 100%;" class="rounded" />
            </div>
            <div class="col-lg-4" style="margin: .5rem 0 0 0;">
                <img src="/img/gite/PXL_20220726_100635248.MP-min.jpg" style="max-width: 100%;" class="rounded" />
            </div>
        </div>
        <div class="row" style="position: absolute; bottom: 0; width: 100%; margin: 0; padding: 0; left:0; right: 0;">
            <a href="#qui" style="margin: 7rem 0;" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</section>
