<!-- Intro Header -->
<header class="intro" style="position:relative;">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-3">
                    <h1 class="brand-heading">Lise <span style="font-weight: normal; font-size: 5;">&</span> Benoit</h1>
                    <p class="intro-text"
                        style="text-transform: uppercase; font-family: Montserrat,Helvetica,Arial,sans-serif; font-size: 2.7rem; letter-spacing: 1rem; color: #fff; text-shadow: -3px 1px 20px rgba(0,0,0,1);">
                        Vous invitent à leur mariage<br>
                </div>
            </div>
            <div class="row"
                style="position: absolute; bottom: 0; width: 100%; margin: 0; padding: 0; left:0; right: 0;">
                <a href="#ou" style="margin: 3rem;" class="circle-btn btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </div>
</header>
